<form>
    <h1>CRIANDO NOVO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required type="text" name="titulo"
            placeholder="Ex. Curso Spring boot com angular 10" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{getMessage1() }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput [(ngModel)]="livro.nomeAutor" [formControl]="nomeAutor" required type="text" name="nome_autor"
            placeholder="Ex. Gabriel Melim" maxlength="100">
        <mat-error *ngIf="nomeAutor.invalid">{{getMessage1()
            }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required type="text" name="texto" placeholder="Ex. Lorem Ipsum"
            maxlength="2000000"></textarea>
        <mat-error *ngIf="texto.invalid">{{getMessage1() }}
        </mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage1()" onchange="" class="btn-categoria-create-criar" mat-stroked-button color="primary">CRIAR</button>
        <button (click)="cancel()" class="btn-categoria-create-cancelar" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>